---
page_title: "LDAP Provider"
subcategory: ""
description: |-
  The LDAP provider provides resources to interact with a LDAP object.
---

# LDAP Provider

The LDAP provider provides resources to interact with a LDAP object.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
